/* AppleGaramond */
@font-face {
  font-family: "AppleGaramond";
  src: url("/src/assets/fonts/appleGaramond/AppleGaramond.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/src/assets/fonts/appleGaramond/AppleGaramond-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/src/assets/fonts/appleGaramond/AppleGaramond-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/src/assets/fonts/appleGaramond/AppleGaramond-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/src/assets/fonts/appleGaramond/AppleGaramond-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/src/assets/fonts/appleGaramond/AppleGaramond-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* GeneralSans */
@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/generalSans/GeneralSans-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}